header {
    padding: 40px 0;
    background-color: var(--primary-color);
    box-shadow: 0 6px 10px -10px gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
}

header ul, header li {
    display: flex;
    text-transform: uppercase;
}

header ul {
    justify-content: center;
    gap: 100px;
    font-size: 1rem;
    font-weight: 300;
}

header li {
    position: relative
}

header li>*:first-child:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.1s ease-out;
}

header li>*:first-child:hover:after {
    transform: scaleX(1);
}
